---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - aws_region_info

  post_tasks:
    - name: Ensure info is verified
      ansible.builtin.assert:
        that:
          - _aws_region_info_dict['us-east-1'] is defined
          - _aws_region_info_dict['us-east-2'] is defined
          - _aws_region_info_dict['us-west-1'] is defined
          - _aws_region_info_dict['us-west-2'] is defined
...
