---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_customer_gateway_list:
          - name: linuxhq-cgw-01
            ip_address: 52.93.22.49
          - name: linuxhq-cgw-02
            ip_address: 52.93.22.50
          - name: linuxhq-cgw-03
            ip_address: 52.93.22.51
          - name: linuxhq-cgw-04
            ip_address: 52.93.22.52
          - name: linuxhq-cgw-05
            ip_address: 52.93.22.53
          - name: linuxhq-cgw-06
            ip_address: 52.93.22.54
          - name: linuxhq-cgw-07
            ip_address: 52.93.22.55
          - name: linuxhq-cgw-08
            ip_address: 52.93.22.56
          - name: linuxhq-cgw-09
            ip_address: 52.93.22.57
          - name: linuxhq-cgw-10
            ip_address: 52.93.22.58
          - name: linuxhq-cgw-11
            ip_address: 52.93.22.59
          - name: linuxhq-cgw-12
            ip_address: 52.93.22.60
          - name: linuxhq-cgw-13
            ip_address: 52.93.22.61
          - name: linuxhq-cgw-14
            ip_address: 52.93.22.62

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
