---
- name: Ensure ec2 transit gateway vpc attachments are batched
  tags:
    - ec2_transit_gateway_vpc_attachment
  ansible.builtin.include_tasks:
    apply:
      tags:
        - ec2_transit_gateway_vpc_attachment
    file: include.yml
  loop:
    "{{ ec2_transit_gateway_vpc_attachment_list |
        batch(ec2_transit_gateway_vpc_attachment_batch) }}"
  loop_control:
    label: "{{ __ec2_transit_gateway_vpc_attachment_list | length }}"
    loop_var: __ec2_transit_gateway_vpc_attachment_list
...
