# {{ ansible_managed }}

{% if profile_list | length > 0 %}
{%   for profile in profile_list %}
{%     if profile.name is defined and profile.config is defined %}
[profile {{ profile.name }}]
{%       for key, value in profile.config | dictsort %}
{{ "{:<6} {:<1} {}".format(key, '=', value) }}
{%       endfor %}
{%     endif %}
{%     if not loop.last %}

{%     endif %}
{%   endfor %}
{% endif %}
