---
- name: Ensure ec2 placement groups are present
  tags:
    - ec2_placement_group
  amazon.aws.ec2_placement_group:
    name: "{{ _pg.1.name }}"
    partition_count: "{{ _pg.1.partition_count | d(omit) }}"
    state: "{{ _pg.0.state | d('present') }}"
    strategy: "{{ _pg.0.strategy }}"
    tags: "{{ _pg.1.tags | d(omit) }}"
    validate_certs: true
  register: __ec2_placement_group_result
  loop: "{{ __ec2_placement_group_list }}"
  loop_control:
    label: "{{ _pg.1.name | d(none) }}"
    loop_var: _pg
  when:
    - _pg.0.strategy is defined
    - _pg.1.name is defined
  changed_when: false
  async: "{{ ansible_check_mode | ternary(0, ec2_placement_group_async) }}"
  poll: "{{ ec2_placement_group_poll }}"

- name: Ensure managed ec2 placement group jobs are complete
  tags:
    - ec2_placement_group
  ansible.builtin.async_status:
    jid: "{{ _jid.ansible_job_id }}"
  register: __ec2_placement_group_status
  loop: "{{ __ec2_placement_group_result.results }}"
  loop_control:
    label: "{{ _jid._pg.1.name | d(none) }}"
    loop_var: _jid
  when:
    - _jid.ansible_job_id is defined
  until:
    - __ec2_placement_group_status.finished | bool
  retries: "{{ ec2_placement_group_retries }}"
  delay: "{{ ec2_placement_group_delay }}"
...
