---
- name: Ensure iam instance profiles are managed
  tags:
    - iam_instance_profile
  amazon.aws.iam_instance_profile:
    name: "{{ _instance_profile.name }}"
    path: "{{ _instance_profile.path | d(omit) }}"
    purge_tags: "{{ _instance_profile.purge_tags | d(true) }}"
    role: "{{ _instance_profile.role | d(omit) }}"
    state: "{{ _instance_profile.state | d('present') }}"
    tags:
      "{{ _instance_profile.tags |
          d({}) |
          combine({'Name': _instance_profile.name}) }}"
    validate_certs: true
  register: __iam_instance_profile_result
  loop: "{{ iam_instance_profile_list }}"
  loop_control:
    label: "{{ _instance_profile.name | d(none) }}"
    loop_var: _instance_profile
  when:
    - _instance_profile.name is defined
  changed_when: false
  async: "{{ ansible_check_mode | ternary(0, iam_instance_profile_async) }}"
  poll: "{{ iam_instance_profile_poll }}"

- name: Ensure managed iam instance profile jobs are complete
  tags:
    - iam_instance_profile
  ansible.builtin.async_status:
    jid: "{{ _jid.ansible_job_id }}"
  register: __iam_instance_profile_status
  loop: "{{ __iam_instance_profile_result.results }}"
  loop_control:
    label: "{{ _jid._instance_profile.name | d(none) }}"
    loop_var: _jid
  when:
    - _jid.ansible_job_id is defined
  until:
    - __iam_instance_profile_status.finished | bool
  retries: "{{ iam_instance_profile_retries }}"
  delay: "{{ iam_instance_profile_delay }}"
...
