---
- name: Ensure information about eks cluster names is gathered
  tags:
    - eks_cluster_info
  ansible.builtin.command:
    cmd: >
      aws eks list-clusters
        --query clusters
  register: __eks_cluster_info_list
  changed_when: false
  check_mode: false

- name: Ensure list of eks clusters is generated
  tags:
    - eks_cluster_info
  ansible.builtin.set_fact:
    __eks_cluster_info_names:
      "{{ (__eks_cluster_info_list.stdout |
          from_json) |
          d([]) }}"

- name: Ensure information about eks cluster details is gathered
  tags:
    - eks_cluster_info
  ansible.builtin.command:
    cmd: >
      aws eks describe-cluster
        --name "{{ _cluster }}"
        --query cluster
  register: __eks_cluster_info_describe
  loop: "{{ __eks_cluster_info_names }}"
  loop_control:
    label: "{{ _cluster | d(none) }}"
    loop_var: _cluster
  changed_when: false
  check_mode: false

- name: Ensure list of eks cluster information is generated
  tags:
    - eks_cluster_info
  ansible.builtin.set_fact:
    _eks_cluster_info_list:
      "{{ __eks_cluster_info_describe.results |
          map(attribute='stdout') |
          map('from_json') }}"

- name: Ensure dict of eks cluster information is generated
  tags:
    - eks_cluster_info
  ansible.builtin.set_fact:
    _eks_cluster_info_dict:
      "{{ dict(_eks_cluster_info_list |
               json_query('[].name') |
               zip(_eks_cluster_info_list)) }}"
...
