---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - aws_caller_info

  post_tasks:
    - name: Ensure info is verified
      ansible.builtin.assert:
        that:
          - _aws_caller_info_account is defined
          - _aws_caller_info_account_alias == 'linuxhq'
          - _aws_caller_info_arn is defined
          - _aws_caller_info_user_id is defined
...
