---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_ami_info_list:
          - name: 'AlmaLinux OS 9'
            filters:
              owner-alias: aws-marketplace
              product-code: 3kukoxmnoighcsbjd0u4nq9ds
              product-code.type: marketplace
              is-public: true
              virtualization-type: hvm

        ec2_instance_list:
          - name: linuxhq-a
            exact_count: 3
            image_id: "{{ _ec2_ami_info_latest['AlmaLinux OS 9'] }}"
            instance_type: t2.medium
            vpc_subnet_id: "{{ _ec2_vpc_subnet_info_dict['linuxhq-pvt-a'].id }}"
          - name: linuxhq-b
            exact_count: 3
            image_id: "{{ _ec2_ami_info_latest['AlmaLinux OS 9'] }}"
            instance_type: t2.medium
            vpc_subnet_id: "{{ _ec2_vpc_subnet_info_dict['linuxhq-pvt-b'].id }}"
          - name: linuxhq-c
            exact_count: 3
            image_id: "{{ _ec2_ami_info_latest['AlmaLinux OS 9'] }}"
            instance_type: t2.medium
            vpc_subnet_id: "{{ _ec2_vpc_subnet_info_dict['linuxhq-pvt-c'].id }}"

        ec2_vpc_net_list:
          - name: linuxhq
            cidr_block: 10.0.0.0/16

        ec2_vpc_subnet_list:
          - vpc_id: "{{ _ec2_vpc_net_info_dict['linuxhq'].id }}"
            subnets:
              - name: linuxhq-pub-a
                az: us-east-1a
                cidr: "{{ '10.0.0.0/16' | ansible.utils.ipsubnet(24,0) }}"
              - name: linuxhq-pub-b
                az: us-east-1b
                cidr: "{{ '10.0.0.0/16' | ansible.utils.ipsubnet(24,1) }}"
              - name: linuxhq-pub-c
                az: us-east-1c
                cidr: "{{ '10.0.0.0/16' | ansible.utils.ipsubnet(24,2) }}"
              - name: linuxhq-pvt-a
                az: us-east-1a
                cidr: "{{ '10.0.0.0/16' | ansible.utils.ipsubnet(24,3) }}"
              - name: linuxhq-pvt-b
                az: us-east-1b
                cidr: "{{ '10.0.0.0/16' | ansible.utils.ipsubnet(24,4) }}"
              - name: linuxhq-pvt-c
                az: us-east-1c
                cidr: "{{ '10.0.0.0/16' | ansible.utils.ipsubnet(24,5) }}"

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
