---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - ec2_ami_info
    - ec2_instance_info
    - ec2_vpc_net_info
    - ec2_vpc_subnet_info

  post_tasks:
    - name: Ensure info is verified
      ansible.builtin.assert:
        that:
          - _ec2_instance_info_dict['linuxhq-a'].image_id ==
              _ec2_ami_info_latest[ec2_ami_info_list.0.name]
          - _ec2_instance_info_dict['linuxhq-a'].instance_id is defined
          - _ec2_instance_info_dict['linuxhq-a'].instance_type == 't2.medium'
          - _ec2_instance_info_dict['linuxhq-b'].image_id ==
              _ec2_ami_info_latest[ec2_ami_info_list.0.name]
          - _ec2_instance_info_dict['linuxhq-b'].instance_id is defined
          - _ec2_instance_info_dict['linuxhq-b'].instance_type == 't2.medium'
          - _ec2_instance_info_dict['linuxhq-c'].image_id ==
              _ec2_ami_info_latest[ec2_ami_info_list.0.name]
          - _ec2_instance_info_dict['linuxhq-c'].instance_id is defined
          - _ec2_instance_info_dict['linuxhq-c'].instance_type == 't2.medium'

    - name: Ensure inventory lists are formatted
      ansible.builtin.set_fact:
        ec2_instance_list:
          "{{ ec2_instance_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_net_list:
          "{{ ec2_vpc_net_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_subnet_list:
          "{{ ec2_vpc_subnet_list |
              map('combine', {'state': 'absent'}) }}"

    - name: Ensure roles are included
      ansible.builtin.include_role:
        name: "{{ _role }}"
      loop:
        - ec2_instance
        - ec2_vpc_subnet
        - ec2_vpc_net
      loop_control:
        label: "{{ _role }}"
        loop_var: _role
...
