---
- name: Ensure information about virtual private cloud prefix lists is gathered
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.command:
    cmd: >
      aws ec2 describe-managed-prefix-lists
        --query 'PrefixLists[?OwnerId!=`AWS`]'
  register: __ec2_vpc_prefix_list_query_lists
  changed_when: false
  check_mode: false

- name: Ensure list of virtual private cloud prefix lists is generated
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.set_fact:
    __ec2_vpc_prefix_list_lists:
      "{{ (__ec2_vpc_prefix_list_query_lists.stdout |
          from_json |
          selectattr('PrefixListName', 'defined')) |
          d([]) }}"

- name: Ensure information about virtual private cloud prefix list entries are gathered
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.command:
    cmd: >
      aws ec2 get-managed-prefix-list-entries
        --prefix-list-id "{{ _info.PrefixListId }}"
        --query Entries
  register: __ec2_vpc_prefix_list_query_entries
  loop: "{{ __ec2_vpc_prefix_list_lists }}"
  loop_control:
    label: "{{ _info.PrefixListId | d(none) }}"
    loop_var: _info
  changed_when: false
  check_mode: false

- name: Ensure list of virtual private cloud prefix list entries is generated
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.set_fact:
    __ec2_vpc_prefix_list_entries:
      "{{ __ec2_vpc_prefix_list_entries |
          d([]) +
          [{
            'PrefixListName': _entry._info.PrefixListName,
            'Entries': _entry.stdout | from_json
          }] }}"
  loop: "{{ __ec2_vpc_prefix_list_query_entries.results | d([]) }}"
  loop_control:
    label: "{{ _entry._info.PrefixListName | d(none) }}"
    loop_var: _entry

- name: Ensure list of virtual private cloud prefix lists is generated
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.set_fact:
    __ec2_vpc_prefix_list_list:
      "{{ __ec2_vpc_prefix_list_lists |
          community.general.lists_mergeby(
            __ec2_vpc_prefix_list_entries | d([]),
           'PrefixListName'
          )
      }}"

- name: Ensure dict of virtual private cloud prefix lists is generated
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.set_fact:
    __ec2_vpc_prefix_list_dict:
      "{{ dict(__ec2_vpc_prefix_list_list |
               json_query('[].PrefixListName') |
               zip(__ec2_vpc_prefix_list_list)) }}"
...
