---
- name: Ensure virtual private cloud prefix list state is complete
  tags:
    - ec2_vpc_prefix_list
  ansible.builtin.command:
    cmd: >
      aws ec2 describe-managed-prefix-lists
        --output text
        --prefix-list-ids "{{ __ec2_vpc_prefix_list_dict[_pl.name].PrefixListId }}"
        --query 'PrefixLists[].State'
  register: __ec2_vpc_prefix_list_state
  until:
    - __ec2_vpc_prefix_list_state.stdout == 'create-complete' or
      __ec2_vpc_prefix_list_state.stdout == 'modify-complete'
  when:
    - not ansible_check_mode
  changed_when: false
...
