---
- name: Ensure iam users are batched
  tags:
    - iam_user
  ansible.builtin.include_tasks:
    apply:
      tags:
        - iam_user
    file: include.yml
  loop:
    "{{ iam_user_list |
        batch(iam_user_batch) }}"
  loop_control:
    label: "{{ __iam_user_list | length }}"
    loop_var: __iam_user_list
...
