---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_vpc_net_list:
          - name: linuxhq-00
            cidr_block: 10.0.0.0/16
          - name: linuxhq-01
            cidr_block: 10.1.0.0/16
          - name: linuxhq-02
            cidr_block: 10.2.0.0/16
          - name: linuxhq-03
            cidr_block: 10.3.0.0/16
          - name: linuxhq-04
            cidr_block: 10.4.0.0/16

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
