---
- name: Ensure information about availability zones is gathered
  tags:
    - aws_az_info
  amazon.aws.aws_az_info:
    filters: "{{ aws_az_info_filters }}"
    validate_certs: true
  register: __aws_az_info_query

- name: Ensure list of aws availability zones is generated
  tags:
    - aws_az_info
  ansible.builtin.set_fact:
    _aws_az_info_list:
      "{{ (__aws_az_info_query.availability_zones |
          selectattr('zone_name', 'defined')) |
          d([]) }}"

- name: Ensure long and short lists of aws availability zones are generated
  tags:
    - aws_az_info
  ansible.builtin.set_fact:
    _aws_az_info_list_l:
      "{{ _aws_az_info_list |
          map(attribute='zone_name', default=[]) }}"
    _aws_az_info_list_s:
      "{{ _aws_az_info_list |
          map(attribute='zone_name', default=[]) |
          map('regex_replace', '.*([a-z]{1}$)', '\\1') }}"

- name: Ensure dict of aws availability zones is generated
  tags:
    - aws_az_info
  ansible.builtin.set_fact:
    _aws_az_info_dict:
      "{{ dict(_aws_az_info_list |
               json_query('[].zone_name') |
               zip(_aws_az_info_list)) }}"
...
