---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  tasks:
    - name: Ensure profile awscli command is executed
      tags:
        - profile
      ansible.builtin.command:
        cmd:
          aws sts get-caller-identity
            --output text
            --query Account
      register: __profile_account
      changed_when: false

    - name: Ensure profile account is displayed
      tags:
        - profile
      ansible.builtin.debug:
        msg: "{{ __profile_account.stdout }}"
...
