---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_instance_metadata_http_endpoint: enabled
        ec2_instance_metadata_http_tokens: required
        ec2_instance_metadata_http_put_response_hop_limit: 2
        ec2_instance_metadata_instance_metadata_tags: disabled
        ec2_instance_metadata_regions:
          "{{ (_aws_region_info_list |
              map(attribute='region_name')) |
              d(['us-east-1']) }}"

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
