---
- name: Ensure iam managed policies are managed
  tags:
    - iam_managed_policy
  amazon.aws.iam_managed_policy:
    description: "{{ _policy.description | d(_policy.name) }}"
    make_default: "{{ _policy.make_default | d(true) }}"
    name: "{{ _policy.name }}"
    only_version: "{{ _policy.only_version | d(false) }}"
    path: "{{ _policy.path | d(omit) }}"
    policy: "{{ _policy.policy | to_json }}"
    state: "{{ _policy.state | d('present') }}"
    tags:
      "{{ _policy.tags |
          d({}) |
          combine({'Name': _policy.name}) }}"
    validate_certs: true
  register: __iam_managed_policy_result
  loop: "{{ __iam_managed_policy_list }}"
  loop_control:
    label: "{{ _policy.name | d(none) }}"
    loop_var: _policy
  when:
    - _policy.name is defined
    - _policy.policy is defined
    - _policy.policy | length > 0
  changed_when: false
  async: "{{ ansible_check_mode | ternary(0, iam_managed_policy_async) }}"
  poll: "{{ iam_managed_policy_poll }}"

- name: Ensure managed iam managed policies jobs are complete
  tags:
    - iam_managed_policy
  ansible.builtin.async_status:
    jid: "{{ _jid.ansible_job_id }}"
  register: __iam_managed_policy_status
  loop: "{{ __iam_managed_policy_result.results }}"
  loop_control:
    label: "{{ _jid._policy.name | d(none) }}"
    loop_var: _jid
  when:
    - _jid.ansible_job_id is defined
  until:
    - __iam_managed_policy_status.finished | bool
  retries: "{{ iam_managed_policy_retries }}"
  delay: "{{ iam_managed_policy_delay }}"
...
