---
- name: Ensure identity and access management managed policies are batched
  tags:
    - iam_managed_policy
  ansible.builtin.include_tasks:
    apply:
      tags:
        - iam_managed_policy
    file: include.yml
  loop:
    "{{ iam_managed_policy_list |
        batch(iam_managed_policy_batch) }}"
  loop_control:
    label: "{{ __iam_managed_policy_list | length }}"
    loop_var: __iam_managed_policy_list
...
