---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_ami_info_list:
          - name: 'AlmaLinux OS 8'
            filters:
              owner-alias: aws-marketplace
              product-code: be714bpjscoj5uvqz0of5mscl
              product-code.type: marketplace
              is-public: true
              virtualization-type: hvm
          - name: 'AlmaLinux OS 9'
            filters:
              owner-alias: aws-marketplace
              product-code: 3kukoxmnoighcsbjd0u4nq9ds
              product-code.type: marketplace
              is-public: true
              virtualization-type: hvm

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
