---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - ec2_ami_info

  post_tasks:
    - name: Ensure info is verified
      ansible.builtin.assert:
        that:
          - _ec2_ami_info_dict | length > 0
          - _ec2_ami_info_latest['AlmaLinux OS 8'] is defined
          - _ec2_ami_info_latest['AlmaLinux OS 9'] is defined
          - _ec2_ami_info_list | length > 0
...
