---
- name: Ensure identity and access management instance profiles are gathered
  tags:
    - iam_instance_profile_info
  amazon.aws.iam_instance_profile_info:
    name: "{{ iam_instance_profile_info_name or omit }}"
    path_prefix: "{{ iam_instance_profile_info_path_prefix }}"
    validate_certs: true
  register: __iam_instance_profile_info_query
  check_mode: false

- name: Ensure list of identity and access management instance profiles is generated
  tags:
    - iam_instance_profile_info
  ansible.builtin.set_fact:
    _iam_instance_profile_info_list:
      "{{ (__iam_instance_profile_info_query.iam_instance_profiles |
          selectattr('instance_profile_name', 'defined')) |
          d([]) }}"

- name: Ensure dict of identity and access management instance profiles is generated
  tags:
    - iam_instance_profile_info
  ansible.builtin.set_fact:
    _iam_instance_profile_info_dict:
      "{{ dict(_iam_instance_profile_info_list |
               json_query('[].instance_profile_name') |
               zip(_iam_instance_profile_info_list)) }}"
...
