---
- name: Ensure ec2 instance metadata regions are batched
  tags:
    - ec2_instance_metadata
  ansible.builtin.include_tasks:
    apply:
      tags:
        - ec2_instance_metadata
    file: include.yml
  loop:
    "{{ ec2_instance_metadata_regions |
        batch(ec2_instance_metadata_batch) }}"
  loop_control:
    label: "{{ __ec2_instance_metadata_regions | length }}"
    loop_var: __ec2_instance_metadata_regions
...
