---
- name: Ensure elastic filesystem defaults are generated
  tags:
    - efs
  ansible.builtin.set_fact:
    __efs_list:
      "{{ [{'state': 'present'}] |
          product(efs_list) |
          map('combine') |
          list }}"
    __efs_rules:
      - cidr_ip: 0.0.0.0/0
        ports:
          - 2049
        proto: tcp
    __efs_rules_egress:
      - cidr_ip: 0.0.0.0/0
        proto: -1

- name: Ensure elastic filesystem tasks are included
  tags:
    - efs
  ansible.builtin.include_tasks:
    apply:
      tags:
        - efs
    file: include.yml
  loop: "{{ __efs_list }}"
  loop_control:
    label: "{{ _efs.name | d(none) }}"
    loop_var: _efs
...
