---
- name: Ensure ec2 elastic ip information is gathered
  tags:
    - ec2_eip
  amazon.aws.ec2_eip_info:
    validate_certs: true
  register: __ec2_eip_query

- name: Ensure list of ec2 elastic ip information is generated
  tags:
    - ec2_eip
  ansible.builtin.set_fact:
    __ec2_eip_dict:
      "{{ __ec2_eip_query.addresses |
          json_query('[].{
            key: tags.Name,
            value: public_ip
          }') |
          items2dict }}"
...
