---
- name: Ensure virtual private cloud nat gateways are managed
  tags:
    - ec2_vpc_nat_gateway
  amazon.aws.ec2_vpc_nat_gateway:
    allocation_id: "{{ _nat.allocation_id | d(omit) }}"
    connectivity_type: "{{ _nat.connectivity_type | d('public') }}"
    default_create: "{{ _nat.default_create | d(false) }}"
    eip_address: "{{ _nat.eip_address | d(omit) }}"
    if_exist_do_not_create: "{{ _nat.if_exist_do_not_create | d(false) }}"
    nat_gateway_id: "{{ _nat.nat_gateway_id | d(omit) }}"
    purge_tags: "{{ _nat.purge_tags | d(true) }}"
    release_eip: "{{ _nat.release_eip | d(false) }}"
    state: "{{ _nat.state | d('present') }}"
    subnet_id: "{{ _nat.subnet_id | d(omit) }}"
    tags:
      "{{ _nat.tags |
          d({}) |
          combine({'Name': _nat.name}) }}"
    validate_certs: true
    wait: "{{ _nat.wait | d(false) }}"
    wait_timeout: "{{ _nat.wait_timeout | d(320) }}"
  register: __ec2_vpc_nat_gateway_result
  loop: "{{ __ec2_vpc_nat_gateway_list }}"
  loop_control:
    label: "{{ _nat.name | d(none) }}"
    loop_var: _nat
  when:
    - _nat.name is defined
    - _nat.nat_gateway_id is defined or
      _nat.subnet_id is defined
  changed_when: false
  async: "{{ ansible_check_mode | ternary(0, ec2_vpc_nat_gateway_async) }}"
  poll: "{{ ec2_vpc_nat_gateway_poll }}"

- name: Ensure managed virtual private cloud nat gateway jobs are complete
  tags:
    - ec2_vpc_nat_gateway
  ansible.builtin.async_status:
    jid: "{{ _jid.ansible_job_id }}"
  register: __ec2_vpc_nat_gateway_status
  loop: "{{ __ec2_vpc_nat_gateway_result.results }}"
  loop_control:
    label: "{{ _jid._nat.name | d(none) }}"
    loop_var: _jid
  when:
    - _jid.ansible_job_id is defined
  until:
    - __ec2_vpc_nat_gateway_status.finished | bool
  retries: "{{ ec2_vpc_nat_gateway_retries }}"
  delay: "{{ ec2_vpc_nat_gateway_delay }}"
...
