---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - ec2_vpc_igw_info
    - ec2_vpc_nat_gateway_info
    - ec2_vpc_net_info
    - ec2_vpc_route_table_info
    - ec2_vpc_subnet_info

  post_tasks:
    - name: Ensure info is verified
      ansible.builtin.assert:
        that:
          - _ec2_vpc_route_table_info_dict['linuxhq-pub'].id is defined
          - _ec2_vpc_route_table_info_dict['linuxhq-pub'].associations.0.association_state.state ==
              'associated'
          - _ec2_vpc_route_table_info_dict['linuxhq-pub'].associations.1.association_state.state ==
              'associated'
          - _ec2_vpc_route_table_info_dict['linuxhq-pub'].associations.2.association_state.state ==
              'associated'
          - _ec2_vpc_route_table_info_dict['linuxhq-pub'].routes.1.gateway_id ==
              _ec2_vpc_igw_info_dict['linuxhq'].internet_gateway_id

          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-a'].id is defined
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-a'].associations.0.association_state.state ==
              'associated'
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-a'].associations.0.subnet_id ==
              _ec2_vpc_subnet_info_dict['linuxhq-pvt-a'].id
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-a'].routes.1.nat_gateway_id ==
              _ec2_vpc_nat_gateway_info_dict['linuxhq-pub-a'].nat_gateway_id

          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-b'].id is defined
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-b'].associations.0.association_state.state ==
              'associated'
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-b'].associations.0.subnet_id ==
              _ec2_vpc_subnet_info_dict['linuxhq-pvt-b'].id
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-b'].routes.1.nat_gateway_id ==
              _ec2_vpc_nat_gateway_info_dict['linuxhq-pub-b'].nat_gateway_id

          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-c'].id is defined
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-c'].associations.0.association_state.state ==
              'associated'
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-c'].associations.0.subnet_id ==
              _ec2_vpc_subnet_info_dict['linuxhq-pvt-c'].id
          - _ec2_vpc_route_table_info_dict['linuxhq-pvt-c'].routes.1.nat_gateway_id ==
              _ec2_vpc_nat_gateway_info_dict['linuxhq-pub-c'].nat_gateway_id

    - name: Ensure inventory lists are formatted
      ansible.builtin.set_fact:
        ec2_vpc_igw_list:
          "{{ ec2_vpc_igw_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_nat_gateway_list:
          "{{ ec2_vpc_nat_gateway_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_net_list:
          "{{ ec2_vpc_net_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_route_table_list:
          "{{ ec2_vpc_route_table_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_subnet_list:
          "{{ ec2_vpc_subnet_list |
              map('combine', {'state': 'absent'}) }}"

    - name: Ensure roles are included
      ansible.builtin.include_role:
        name: "{{ _role }}"
      loop:
        - ec2_vpc_route_table
        - ec2_vpc_nat_gateway
        - ec2_vpc_subnet
        - ec2_vpc_igw
        - ec2_vpc_net
      loop_control:
        label: "{{ _role }}"
        loop_var: _role
...
