---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - ec2_ami_info
    - ec2_instance_info
    - ec2_vpc_net_info
    - ec2_vpc_subnet_info
    - elb_target_group_info

  post_tasks:
    - name: Ensure info is verified
      ansible.builtin.assert:
        that:
          - _elb_target_group_info_dict['molecule-http-8080'].port ==
              elb_target_group_list.0.port
          - _elb_target_group_info_dict['molecule-http-8080'].target_group_arn is defined
          - _elb_target_group_info_dict['molecule-http-8080'].target_group_name is defined
          - _elb_target_group_info_dict['molecule-http-8080'].target_type ==
              elb_target_group_list.0.target_type
          - _elb_target_group_info_dict['molecule-http-8080'].vpc_id ==
              elb_target_group_list.0.vpc_id
          - _elb_target_group_info_dict['molecule-http-8081'].port ==
              elb_target_group_list.1.port
          - _elb_target_group_info_dict['molecule-http-8081'].target_group_arn is defined
          - _elb_target_group_info_dict['molecule-http-8081'].target_group_name is defined
          - _elb_target_group_info_dict['molecule-http-8081'].target_type ==
              elb_target_group_list.1.target_type
          - _elb_target_group_info_dict['molecule-http-8081'].vpc_id ==
              elb_target_group_list.1.vpc_id

    - name: Ensure inventory lists are formatted
      ansible.builtin.set_fact:
        ec2_instance_list:
          "{{ ec2_instance_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_net_list:
          "{{ ec2_vpc_net_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_vpc_subnet_list:
          "{{ ec2_vpc_subnet_list |
              map('combine', {'state': 'absent'}) }}"
        elb_target_group_list:
          "{{ elb_target_group_list |
              map('combine', {'state': 'absent'}) }}"

    - name: Ensure roles are included
      ansible.builtin.include_role:
        name: "{{ _role }}"
      loop:
        - elb_target_group
        - ec2_instance
        - ec2_vpc_subnet
        - ec2_vpc_net
      loop_control:
        label: "{{ _role }}"
        loop_var: _role
...
