---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - aws_az_info

  post_tasks:
    - name: Ensure info is verified
      tags:
        - aws_az_info
      ansible.builtin.assert:
        that:
          - _aws_az_info_dict['us-east-1a'] is defined
          - _aws_az_info_dict['us-east-1b'] is defined
          - _aws_az_info_dict['us-east-1c'] is defined
          - _aws_az_info_dict['us-east-1d'] is defined
          - _aws_az_info_dict['us-east-1e'] is defined
          - _aws_az_info_dict['us-east-1f'] is defined
...
