---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_key_list:
          - name: linuxhq-key-00
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBwCfEABKtScVJMqT8kH0rdaisRopPeLqAUnRz4BKM7S
          - name: linuxhq-key-01
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAV6GByXu+D2me8eLgy1ujOj/tFRFwKjluWn+lmWr9av
          - name: linuxhq-key-02
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKBH5OIuoGk2OTlwrhNKX9lGPDSXfVqY9OwQAMgLEfor
          - name: linuxhq-key-03
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINlCnrYPAfETJyDv/rKSRntSE/wqJUCDxn+QO2zOYHED
          - name: linuxhq-key-04
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGboQhfGPVzQPUtmVGFpLjQLtCgRxgQmEMDx+HdmPRTQ
          - name: linuxhq-key-05
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGpQiy2kRbAo+0LJfV4RHnuYyozFjHZn9c6cL6pVii+5
          - name: linuxhq-key-06
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAg+X8TSbLxRq2zRJbg0ZfYYmnqjtLUsHFtsfeMklOgX
          - name: linuxhq-key-07
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDFgaw1OtDFwiaY+lccD1UvXzEU5bNTdGQhOoyYyGcwo
          - name: linuxhq-key-08
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIRtpHq0ih6ZsXzskVMqHLc3bvCp82l1lS/V9i3wXwQQ
          - name: linuxhq-key-09
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEQYZwthruEeeRtn4QE2x5xeVosMNha99UOVptoNjVbs
          - name: linuxhq-key-10
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG1XSQ4t5M0dmwHv3CHWmQ5d+55DGxS0ehgip5JLHDpi
          - name: linuxhq-key-11
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGQ26Bz62FT0ugZBU5uqXzULR4LehVtRJkUp9FRUuxFk
          - name: linuxhq-key-12
            key_material: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINCvQSZAZdDyfA6uWBsQbuQwOxPQRT+aZWXY7wQjbXca

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
