---
dependency:
  name: galaxy
  options:
    requirements-file: ../../requirements.yml

driver:
  name: vagrant

platforms:
  - name: almalinux9
    box: bento/almalinux-9.6
    cpus: 4
    memory: 4096

provisioner:
  name: ansible
  log: true
  options:
    diff: true
  inventory:
    group_vars:
      all:
        ansible_python_interpreter: /opt/awscli/bin/python
        ec2_vpc_net_list:
          - name: linuxhq
            cidr_block: 10.0.0.0/16

        ec2_vpc_subnet_list:
          - vpc_id: "{{ _ec2_vpc_net_info_dict['linuxhq'].id }}"
            subnets:
              - name: linuxhq
                az: us-east-1a
                cidr: 10.0.0.0/16

        ec2_transit_gateway_list:
          - name: linuxhq

        ec2_transit_gateway_vpc_attachment_list:
          - name: linuxhq
            subnets:
              - "{{ _ec2_vpc_subnet_info_dict['linuxhq'].id }}"
            transit_gateway: "{{ _ec2_transit_gateway_info_dict['linuxhq'].transit_gateway_id }}"

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - check
    - idempotence
    - verify
    - cleanup
    - destroy

verifier:
  name: ansible
  options:
    diff: true
...
