---
- name: Verify
  hosts: all
  environment:
    PATH: "/opt/awscli/bin:{{ ansible_env.PATH }}"

  roles:
    - ec2_ami_info
    - ec2_launch_template_info
    - ec2_security_group_info
    - ec2_vpc_net_info

  post_tasks:
    - name: Ensure info is verified
      tags:
        - ec2_launch_template_info
      ansible.builtin.assert:
        that:
          - _ec2_launch_template_info_dict['linuxhq-el8-nano'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-nano'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el8-nano'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-micro'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-micro'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el8-micro'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-small'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-small'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el8-small'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-medium'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-medium'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el8-medium'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-large'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-large'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el8-large'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-xlarge'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el8-xlarge'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el8-xlarge'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-nano'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-nano'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el9-nano'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-micro'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-micro'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el9-micro'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-small'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-small'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el9-small'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-medium'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-medium'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el9-medium'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-large'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-large'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el9-large'].versions.0 is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-xlarge'].launch_template_id is defined
          - _ec2_launch_template_info_dict['linuxhq-el9-xlarge'].default_version_number == 1
          - _ec2_launch_template_info_dict['linuxhq-el9-xlarge'].versions.0 is defined

    - name: Ensure inventory lists are formatted
      tags:
        - ec2_launch_template_info
      ansible.builtin.set_fact:
        ec2_launch_template_list:
          "{{ ec2_launch_template_list |
              map('combine', {'state': 'absent'}) }}"
        ec2_security_group_list:
          - vpc_id: "{{ _ec2_vpc_net_info_dict['linuxhq'].id }}"
            security_groups:
              "{{ ec2_security_group_list.0.security_groups |
                  map('combine', {'state': 'absent'}) }}"
        ec2_vpc_net_list:
          "{{ ec2_vpc_net_list |
              map('combine', {'state': 'absent'}) }}"

    - name: Ensure roles are included
      tags:
        - ec2_launch_template_info
      ansible.builtin.include_role:
        name: "{{ _role }}"
      loop:
        - ec2_launch_template
        - ec2_security_group
        - ec2_vpc_net
      loop_control:
        label: "{{ _role }}"
        loop_var: _role
...
